name: Manual workflow:Fake Deploy Datasets
on:
  workflow_dispatch:
    inputs:
      dataset_location:
        description: 'dataset_location'
        default: 'datasets/xxxx'
        required: true
jobs:
  echo_config:
    runs-on: ubuntu-latest
    steps:
    - name: echo config
      run: "echo \"Datasets location: ${{ github.event.inputs.dataset_location }}\""
  build:
    runs-on: ubuntu-latest
    steps:
    - name: create artifact
      run: echo "create artifact"
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@main

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Terraform Fmt
      id: fmt
      run: terraform fmt -check -diff
      continue-on-error: true

    - name: Terraform Init
      id: init
      run: terraform init
      continue-on-error: true

    - name: Terraform Validate
      id: validate
      run: terraform validate -no-color
      continue-on-error: true

    - name: Terraform Plan
      id: plan
      run: terraform plan -no-color
      continue-on-error: true
  